.container-fluid
  %form{:method => "post", :action => '/print'}
    .input-group
      %input.form-control{type: "text", name: 'data', placeholder: "ID, name"}
      %span.input-group-btn
        %button.btn.btn-primary{:type => "submit"}
          %span.glyphicon.glyphicon-print
    .input-group
      %select{:name => 'printer'}
        - Tepra.printer_hashs.each do |v|
          %option{:name => v[:name], :value => v[:name]}="#{( v.has_key?(:nickname) ? v[:nickname] : v[:name] ) }"
      %select{:name => 'template'}
        %option{:value => ""}=""
        - Tepra.templates(:omit => ['default']).each do |v|
          %option{:name => v, :value => v}="#{v}"
