%nav.navbar.navbar-default{role: 'navigation'}
  .container-fluid
    .navbar-left
      %a.navbar-brand{:href => '/'}
        = "Tepra Server"
    .navbar-right
      %a.btn.btn-default.navbar-btn{href: "/info"}
        %span.glyphicon.glyphicon-info-sign
 